@import "../common/mixins";

.todoButton {
  display: flex;
  margin: 5px;
  background-color: transparent;
  cursor: pointer;
  svg {
    width: 30px;
    height: 30px;
  }
}

.todoButton--large {
  @extend .todoButton;
  @include todoBorder();
  padding: 5px;
}

.todoButton--small {
  @extend .todoButton;
  padding: 0;
  border: none;
  border-radius: 5px;
}
