* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  min-width: 320px;
}

.todoForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.todoInput {
  display: flex;
  flex-grow: 1;
  width: 150px;
  padding: 0 10px;
  margin: 5px;
  font-size: 18px;
  border-style: solid;
  border-color: black;
  border-width: 4px;
  border-radius: 10px;
}

.todoButton {
  display: flex;
  padding: 5px;
  margin: 5px;
  border-style: solid;
  border-color: black;
  border-width: 4px;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.todoButton svg {
  width: 30px;
  height: 30px;
}
